<h1 class="text-center"><%= @restaurant.name %></h1>

<ul class="list-unstyled text-center">
  <li>
   Address:  <%= @restaurant.address %>
  </li>

  <li>
   Phone #:  <%= @restaurant.phone_number %>
  </li>

  <li>
   Type:  <%= @restaurant.category.capitalize %>
  </li>

  <h2>REVIEWS: </h2>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <ol>
          <% @restaurant.reviews.each do |review| %>
          <li>
            <%= review.content %>
            <li>
              <%= review.rating %>
            </li>
          </li>
          <% end %>
        </ol>
      </div>
    </div>
  </div>
  <br>

  <li>
    <%= link_to "Add a review", new_restaurant_review_path(@restaurant), class: "btn btn-info" %>
  </li>

  <br>

  <li>
    <%= link_to "Back to list", restaurants_path %>
  </li>
</ul>

