<h1 class="text-center"><%= @restaurant.name %></h1>

<ul class="list-unstyled text-center">
  <li>
    <%= @restaurant.address %>
  </li>

  <li>
    <%= @restaurant.phone_number %>
  </li>

  <li>
    <%= @restaurant.category.capitalize %>
  </li>

  <ul class="list-unstyled text-center">
    <% @restaurant.reviews.each do |review| %>
    <li>
      <%= review.content %>
      <li>
        <%= review.rating %>
      </li>
    </li>
    <% end %>
  </ul>

  <br>

  <li>
    <%= link_to "Add a review", new_restaurant_review_path(@restaurant) %>
  </li>

  <br>

  <li>
    <%= link_to "Back to list", restaurants_path %>
  </li>
</ul>

